<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Receipts</title>
</head>
    <body>
        <main>
            <h1>My Receipts</h1>
                <table>
                    <nav>
                        <ul>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                            <!-- <p id="Greeting">Hello, {{ user.username }}</p> -->
                        {% else %}
                            <li><a href="{% url 'signup' %}">Sign Up</a></li>
                            <li><a href="{% url 'user_login' %}">Login</a></li>
                        {% endif %}
                        </ul>
                    </nav>
                    <thead>
                        <tr>
                            <th>Vendor</th>
                            <th>Total</th>
                            <th>Tax</th>
                            <th>Date</th>
                            <th>Category</th>
                            <th>Account</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for receipt in receipt_view %}
                        <tr>
                            <td>{{ receipt.vendor }}</td>
                            <td>{{ receipt.total }}</td>
                            <td>{{ receipt.tax }}</td>
                            <td>{{ receipt.date|date:"m/d/y" }}</td>
                            <td>{{ receipt.category.name }}</td>
                            <td>{{ receipt.account.name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </main>
    </body>
</html>
